@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.6;
}

/* header {
    display: flex;
    height: 60px;
    color: black;
    background-color: white;
    text-align: left;
    align-items: center;
    padding-left: 15px;
} */

.about-me {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: start; /* Aligns content to the start of the flex container */
    padding: 37px 40px 0px 40px;
    margin-bottom: 0;
    color: black;
}

.about-me-image {
    width: 200px; /* Set the image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Add some space between the image and the text */
    border-radius: 4%; /* Makes the image circular */
}

.logo-container {
    display: flex;  /* Establishes a flex container */
    align-items: flex-end;
}

.links {
    text-decoration: none;
    display: flex;
    padding-right: 10px;
}

.button {
    background-color: #4e9bdd; /* Green */
    border: none;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 13px;
    margin-right: 7px;
  }

.button:hover {
background-color: #4782dc;
cursor: pointer;
}

.projects-container {
    display: flex;
    margin: 0px 30px 0px 30px;
    justify-content: center; /* Centers the projects horizontally */
    align-items: center; /* Centers the projects vertically */
    flex-wrap: wrap;
    gap: 7px;
}

.project-card {
    width: 100px;
    height: 300px;
    margin: 10px 11px 10px 11px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    box-sizing: border-box;
    flex-shrink: 0; /* Prevents flex items from shrinking */
    flex-grow: 1;
    transform: scale(1); /* Ensures the transform is controlled */
    transition: transform 0.3s ease; 
    overflow: hidden;

}

.project-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-title {
    color: black;
    font-size: 20px; /* Adjusted font size */
    margin: 10px;
}

.project-card:hover {
    transform: scale(1.03); 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0;
}

.modal-content {
    border-radius: 8px;
    background-color: #fefefe;
    padding: 25px;
    border: 1px solid #888;
    width: 88%;
    height: 85%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 2.5% auto; /* Reduce top margin to 5% */
    line-height: 1.5; /* Increase line height for better readability */
    color: #333; /* Softer text color */
    font-size: 16px; /* Slightly larger font size */
    font-weight: 400; /* Normal font weight */
    overflow: scroll;    
}

.modal-link {
    text-decoration: none; 
    color: #4e9bdd;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: large;
}

.modal-link:hover {
    text-decoration: underline;
}

.description {
    display: flex;
    gap: 40px;
}

.modal-content h1 {
    color: rgb(13 36 56);
    margin: 0 0 15px 0;
}

h1 {
    color: black;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}

h2 {
    color: rgb(30 56 81);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 13px;
}

h3 {
    color: rgb(30 56 81);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
}

p {
    color: rgb(30 56 81);
    margin: 0;
    margin-bottom: 10px;
}

.link-container {
    margin: 4px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}
