@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.6;
}

header {
    background-color: white;
    color: black;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-left a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.2s ease;
    margin: 0;
}

.header-right nav {
    display: flex;
    gap: 11px;
}

.header-right nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    transition: color 0.2s ease;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu .bar {
    width: 22px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
    transition: 0.4s;
    border-radius: 20px;
}

.underline-effect {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
    padding-right: 2px;
}

.underline-effect::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0; /* Start from the left */
    background: black;
    transition: width 0.3s ease; /* Animate width */
}

.underline-effect:hover::after {
    width: 100%;
    right: 0;
}

@media (max-width: 520px) {
    .nav-menu {
        display: none !important;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav-menu a {
        padding-bottom: 10px;
        padding-top: 4px;
        text-align: center;
        border-bottom: 2px solid #e0e0e0;
    }

    .nav-menu.show {
        display: flex !important;
    }

    .menu {
        display: flex;
    }

    .underline-effect {
        background: white !important;
    }

    .underline-effect::after {
        background: white !important;
    }
}

.about-me {
    display: flex;
    align-items: center;
    padding: 37px 40px 20px 40px;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .about-me {
        flex-direction: column; 
    }
    .about-me-image {
        align-self: flex-start;
    }
}

.about-me-image {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 4%;
    margin-bottom: 25px;
}

.logo-container {
    display: flex;
    align-items: flex-end;
}

.links {
    text-decoration: none;
    display: flex;
    padding-right: 10px;
}

.button {
    background-color: #4e9bdd; /* Green */
    border: none;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 13px;
    margin-right: 7px;
  }

.button:hover {
    background-color: #4782dc;
    cursor: pointer;
}

.project-cards-container {
    display: flex;
    margin: 0px 30px 0px 30px;
    justify-content: center; /* Centers the projects horizontally */
    align-items: center; /* Centers the projects vertically */
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    width: 24vw;
    height: 24vw;
    min-width: 300px;
    min-height: 300px;
    margin: 10px 11px 10px 11px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
    box-sizing: border-box;
    transform: scale(1);
    transition: transform 0.3s ease; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.project-card:hover {
    transform: scale(1.03); 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.project-card-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-card-title {
    color: black;
    font-size: 20px; /* Adjusted font size */
    margin: 15px;
}

.card-img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.project {
    margin: 5px 40px;
}

.project-media {
    display: flex; 
    justify-content: center;
    margin: 10px 0;
}

.description {
    display: flex;
    gap: 60px;
}

@media (max-width: 600px) {
    .description {
        flex-direction: column;
        gap: 0px;
    }
}

.project-link {
    text-decoration: none; 
    color: #4e9bdd;
    margin-bottom: 10px;
    font-size: large;
}

.project-link:hover {
    text-decoration: underline;
}

h1 {
    color: black;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
}

h2 {
    color: rgb(30 56 81);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 13px;
}

h3 {
    color: rgb(30 56 81);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
}

p {
    color: rgb(30 56 81);
    margin: 0;
    margin-bottom: 10px;
}

.link-container {
    margin: 4px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}
